@model HD_SUPPORT.Models.Equipamento

@{
    Layout = "_LayoutForm";
    ViewData["Title"] = "DetalharEquipamento";
}

<hr />

<div style="display: flex; flex-direction:column;">
    <div style="display: flex; justify-content: space-between; margin-bottom: 100px;">
        <a asp-action="IndexEquipamentos" class="btn btn-outline-dark">Voltar para lista</a>
        <!--<form asp-action="ExcluirEquipamento" asp-route-equipamentoid="@Model?.Id">
            <button type="submit" class="btn btn-danger">Excluir</button>
        </form>-->
    </div>
    <dl class="detalhes">
        <div style="margin-right: 40px;">
            <div class="div-line">
                <dt class="">
                    <label class="label-info">Usuário:</label>
                </dt>
                <dd class="">
                    @Html.DisplayFor(model => model.NomeUsuario)
                </dd>
            </div>
            <div class="div-line">
                <dt class="">
                    <label class="label-info">Email:</label>
                </dt>
                <dd class="">
                    @Html.DisplayFor(model => model.EmailUsuario)
                </dd>
            </div>
            <div class="div-line">
                <dt class="">
                    <label class="label-info">Telefone:</label>
                </dt>
                <dd class="">
                    @Html.DisplayFor(model => model.TelefoneUsuario)
                </dd>
            </div>
            <div class="div-line">
                <dt class="">
                    <label class="label-info">Modelo:</label>
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.StatusUsuario)
                </dd>
            </div>
            <div class="div-line">
                <dt class="">
                    <label class="label-info">Função:</label>
                </dt>
                <dd class="">
                    @Html.DisplayFor(model => model.CategoriaUsuario)
                </dd>
            </div>
        </div>
        <div style="margin-right: 40px;">
            <div class="div-line">
                <dt class="">
                    <label class="label-info">Id patrimonio:</label>
                </dt>
                <dd class="">
                    @Html.DisplayFor(model => model.IdPatrimonio)
                </dd>
            </div>
            <div class="div-line">
                <dt class="">
                    <label class="label-info">Marca:</label>
                </dt>
                <dd class="">
                    @Html.DisplayFor(model => model.ModeloMarca)
                </dd>
            </div>
            <div class="div-line">
                <dt class="">
                    <label class="label-info">Processador:</label>
                </dt>
                <dd class="">
                    @Html.DisplayFor(model => model.Processador)
                </dd>
            </div>
            <div class="div-line">
                <dt class="">
                    <label class="label-info">Data Emprestimo:</label>
                </dt>
                <dd class="">
                    @Html.DisplayFor(model => model.InicioEmprestimo)
                </dd>
            </div>
            <div class="div-line">
                <dt class="">
                    <label class="label-info">Condição:</label>
                </dt>
                <dd class="">
                    @Html.DisplayFor(model => model.TerminoEmprestimo)
                </dd>
            </div>
        </div>
    </dl>
</div>