@model HD_SUPPORT.Models.Equipamento

@{
    ViewData["Title"] = "DetalharEquipamento";
}
 
<h1 class="titulo-dados">DetalharEquipamento</h1>

<div>
    <h4>Equipamento</h4>
    <hr />
    <dl class="tabela">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefoneUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefoneUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StatusUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StatusUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoriaUsuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoriaUsuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPatrimonio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPatrimonio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModeloMarca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModeloMarca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Processador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Processador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InicioEmprestimo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InicioEmprestimo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TerminoEmprestimo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TerminoEmprestimo)
        </dd>
    </dl>
</div>
<div style="display: flex;">
    <a asp-action="AtualizarEquipamento" asp-route-equipamentoid="@Model?.Id" class="btn btn-primary">Atualizar</a>
    <a asp-action="IndexEquipamentos" class="btn btn-outline-dark">Voltar para lista</a>
    <form asp-action="ExcluirEquipamento" asp-route-equipamentoid="@Model?.Id">
        <button type="submit" class="btn btn-danger">Excluir</button>
    </form>
</div>
