@model IEnumerable<HD_SUPPORT.Models.Equipamento>

@{
    ViewData["Title"] = "IndexEquipamentos";
}

<h1 class="titulo-tabela">Usuários e equipamentos</h1>

<p>
    <a asp-action="NovoEquipamento" class="btn btn-primary">Novo registro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoriaUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPatrimonio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModeloMarca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TerminoEmprestimo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoriaUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPatrimonio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModeloMarca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TerminoEmprestimo)
            </td>
                <td style="display:flex;">
                <a asp-action="AtualizarEquipamento" asp-route-equipamentoid="@item.Id" class="btn btn-primary">Atualizar</a>
                <a asp-action="DetalharEquipamento" asp-route-equipamentoid="@item.Id" class="btn btn-success">Detalhes</a>
                <form asp-action="ExcluirEquipamento" asp-route-equipamentoid="@item.Id">
                    <button type="submit" class ="btn btn-danger">Excluir</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
