@model IEnumerable<HD_SUPPORT.Models.Equipamento>

@{
    Layout = "_LayoutRh";
    ViewData["Title"] = "Tabela de Maquinas";
}

<div class="tabela">
    <h1 class="titulo-tabela">Equipamentos</h1>

    <table class="table" style="box-shadow: 0 50px 10px rgb(255,255,255,0.2);">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdPatrimonio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModeloMarca)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TerminoEmprestimo)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdPatrimonio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModeloMarca)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TerminoEmprestimo)
                    </td>
                    <td style="display:flex; justify-content: right;">
                        <a asp-action="DetalharEquipamento" asp-route-equipamentoid="@item.Id" class="btn btn-success" style="margin: 0 10px 0 0px;">Detalhes</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>